# Supabase Configuration
VITE_SUPABASE_URL=https://xdnjgksnhihfigrnqhcq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhkbmpna3NuaGloZmlncm5xaGNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2ODg4MTgsImV4cCI6MjA4OTI2NDgxOH0.9QK3xMdvIytcFW5CXPJ6VQMsV-wsAJhFFzUxxM0r3FI

# Firebase Configuration (Optional if switching)
# VITE_FIREBASE_API_KEY=
# ...
